NEXT_PUBLIC_GOOGLE_ID=value
NEXT_PUBLIC_MICROSOFT_ID=value
NEXT_PUBLIC_ALORE_BACKEND_URL=value
NEXT_PUBLIC_ALORE_CLIENT_ID=value
NEXT_PUBLIC_ALORE_API_KEY=value

TESTMAIL_API_KEY=value
TESTMAIL_NAMESPACE=value

GOOGLE_USER=value
GOOGLE_PWD=value

MICROSOFT_USER=value
MICROSOFT_PWD=value
